body {
    background-color: #ececec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
    gap: 35px;
}

.white {
    background-color: white;
}

.sketch {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
    width: 930px;
    border: solid 1px;
}

.sketch > #grid {
    display: grid;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    grid-template-rows: repeat(20, 24px);
    grid-template-columns: repeat(20, 24px);
    box-shadow: 0px 0px 40px #939191;
    background-color: white;
}

p {
    padding-left: 3px;
    margin: 0;
}

h1 {
    margin: 0;
}

main {
    padding: 0 40px;
}

input {
    margin-left: 5px
}