body {
    background-color: #ececec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.sketch {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

.grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
}

.sketch > #grid {
    display: grid;
    font-weight: 700;
    color: var(--clr-light);
    grid-template-rows: repeat(16, 30px);
    grid-template-columns: repeat(16, 30px);
}

.grid_item {
    border-style: solid;
    border-color: black black black;
    border-width: thin;
}


p {
    padding-left: 3px;
    margin: 0;
}

main {
    padding: 0 40px;
}